.oh-table-caption {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.oh-title {
    min-height: 58px;
    background-color: #fff;
    font-size: 14px;
    margin: 0 0 20px 0;
    padding: 0 20px;
}

.oh-tab {
    font-size: 14px;
    display: inline-block;
    padding: 10px 20px;
    border-bottom: 3px solid #fff;
    cursor: pointer;
    margin-right: -1px;
    position: relative;
    top: 1px;
    background-color: #fff;
    border-color: #b67347;
}

.oh-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.oh-table th, .oh-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.oh-table th {
    background-color: #f2f2f2;
}

/* Specific classes for rows */
.oh-table .oh-row-even {
    background-color: #f9f9f9;
}

.oh-table .oh-row-odd {
    background-color: #ffffff;
}

/* Specific classes for columns */
.oh-table .oh-col-id {
    width: 5%;
}

.oh-table .oh-col-date {
    width: 15%;
}

.oh-button {
    padding-top: 10px;
}

/* Refresh button styles */
.refresh-button {
    font-size: 14px;
    font-weight: 500;
    padding: 9px 15px;
    min-height: 36px;
    line-height: 16px;
    border-width: 1px;
    border-style: solid;
    background-color: #e27730;
    border-color: #e27730;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: none;
    box-shadow: none;
    outline: none;
    
}

.refresh-button:hover {
    background-color: #b67347;
}